/* body */

body {
  font-family: "sans-serif", serif;
  display: flex;
  text-align: center;
}

.main {
  width: 70vw;
  margin: 0 5vw;
}

.deco-title {
  color: red;
  font-size: 150%;
}

/* header */

/* title */

header {
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  border-radius: 10vh;
  background: #f1e2be;
}

header h1 {
  margin-bottom: 10vh;
  margin-top: 4vh;
  font-size: 10vh;
}

header img {
  width: 40%;
  height: 40%;
}

/* main */

.elements {
  border-radius: 3vh;
  border-color: #d3c1af;
  border-style: solid;
  border-width: 1vw;
  border-radius: 2vh;
  background: #f1e2be;
  margin-top: 10vh;
}

article .summary {
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}

article .summary img {
  padding-top: 5vh;
  width: 75%;
  height: 75%;
}

article .link {
  padding: 10vh 0;
}

/* aside */

aside {
  background-color: ghostwhite;
  opacity: 90%;
  margin-top: 10vh;
  padding-top: 10vh;
  width: 20vw;
  border-radius: 5vh;
}

aside img {
  width: 10vw;
  height: 10vw;
  border-radius: 3vw;
}